*{
    background-color: #4A0404;
}

header h1{
    color: blanchedalmond;
    font-family: "Playfair Display";
    font-weight: bold;
}

header nav{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 0rem;
    border-top:0rem;
    padding-top: 0rem;
}

nav a:link{
    color:#FFFCC9;
    font-family:"Ysabeau Office"
}

nav a:visited{
    color:#F0E2B6;
}

#about h2{
    font-family: Quicksand;
    color:#F0E2B6;
    text-align: center;
    text-decoration: underline;
}

#about p{
    font-family: "Ysabeau Office";
    color: #FFFCC9;
}

#projects h2{
    font-family: Quicksand;
    color:#4A0404;
    text-align:center;
    text-decoration: underline;
}

#projects .button{
    display:flex;
    flex-wrap: wrap;
    gap: .125rem;
    flex-direction: row;
    justify-content: space-around;   
}

#projects button{
    align-content: center;
    border-radius: 75%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: blanchedalmond;
    color: #4A0404;
    border-color: #913831;
}

#projects ul{
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    font-family: "Ysabeau Office";
}

#projects li a:link{
    color: #FFFCC9;
}

#projects li a:visited{
    color:#F0E2B6;
}

#skills h2{
    font-family: Quicksand;
    color:blanchedalmond;
    text-align: center;
    text-decoration: underline;
}

#skills ul{
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    font-family: "Ysabeau Office";
    color:#F0E2B6;
}

#contact h2{
    font-family: Quicksand;
    color:blanchedalmond;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
}

#contact p{
    font-family: "Ysabeau Office";
    color:#F0E2B6;
    text-align: center;
    justify-content: center;
}

.click {
    display:flex;
    flex-wrap: wrap;
    gap: .125rem;
    flex-direction: row;
    justify-content: space-around;
}

.images {
    flex-basis: 10rem;
    flex-direction: row;
    justify-content: center;
}

#contact img{
    width:7rem;
    height: auto;
    margin: auto;
    flex-direction: row;
    align-self: center;
}
