*{
    background-color:blanchedalmond;
}

header h1{
    color:#4A0404;
    font-family: "Playfair Display";
    font-weight: bold;
}

header nav{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 0rem;
    border-top:0rem;
    padding-top: 0rem;
}

nav a:link{
    color:firebrick;
    font-family:"Ysabeau Office"
}

nav a:visited{
    color:#4A0404;
}

#about h2{
    font-family: Quicksand;
    color:#4A0404;
    text-align: center;
    text-decoration: underline;
}

#about p{
    font-family: "Ysabeau Office";
    color: #913831;
}

#projects h2{
    font-family: Quicksand;
    color:#4A0404;
    text-align:center;
    text-decoration: underline;
}

#projects ul{
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    font-family: "Ysabeau Office";
}

#projects li a:link{
    color: firebrick;
    font-size: 2rem;
}

#projects li a:visited{
    color:#4A0404;
}

#skills h2{
    font-family: Quicksand;
    color:#4A0404;
    text-align: center;
    text-decoration: underline;
}

#skills ul{
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    font-family: "Ysabeau Office";
    color:#913831;
    font-size: 2rem;
}

#contact h2{
    font-family: Quicksand;
    color:#4A0404;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
}

#contact p{
    font-family: "Ysabeau Office";
    color:#913831;
    text-align: center;
    justify-content: center;
}

.click {
    display:flex;
    flex-wrap: wrap;
    gap: .125rem;
    flex-direction: row;
    justify-content: space-around;
}

.images {
    flex-basis: 10rem;
    flex-direction: row;
    justify-content: center;
}

#contact img{
    width:7rem;
    height: auto;
    margin: auto;
    flex-direction: row;
    align-self: center;
}
